[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/neobundle.vim"]
	path = vim/bundle/neobundle.vim
	url = https://github.com/Shougo/neobundle.vim
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "vim/bundle/numbers.vim"]
	path = vim/bundle/numbers.vim
	url = https://github.com/myusuf3/numbers.vim
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule "vim/bundle/syntastic"]
	path = vim/bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/bundle/vim-colors-solarized"]
	path = vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "zsh/antigen"]
	path = zsh/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "vim/bundle/dotbot"]
	path = vim/bundle/dotbot
	url = https://github.com/anishathalye/dotbot
